#menu
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: blue;
}

.menuList
{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menuListItem
{
	float: left;
	border-right: 1px solid white;
}

.menuItem
{
	display: block;
 	padding: 13px 15px;
	color: white;
	text-align: center;
	text-decoration: none;
}

.menuItem:hover
{
	background-color: darkblue;
}

section
{
	margin-top: 50px;
	padding-top: 50px;
}

